{% extends "base.html" %}

{% block content %}
    <!--Banner-->
    <div class="banner">
      <div class="headline__container">
        <h1 class="banner__heading">Application Form</h1>
        <p class="banner__para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
          autem dignissimos.
        </p>
      </div>
    </div>

    <div class="container clearfix">
        
      <!-- AppForm -->
      <div class="form__box">
        <form class="appform" method="POST" autocomplete="off">
          <!-- {{url_for('apply')}} -->
          <fieldset>
            <legend>Application Form</legend>
            <p>
              <label for="Name" class="Name">Name</label>
              <input type="text" name="Name" id="Name" required="1" maxlength="30" minlength="2">
            </p>
            <p>
              <label for="Surname" class="Surname">Surname</label>
              <input type="text" name="Surname" id="Surname" required maxlength="30" minlength="2">
            </p>
            <p>
              <label for="Tel" class="Tel">Tel</label>
              <input type="tel" name="Tel" id="Tel" required maxlength="12" minlength="12">
            </p>
            <p>
              <label for="ParentTel" class="ParentTel">ParentTel</label>
              <input type="tel" name="ParentTel" id="ParentTel" required maxlength="12" minlength="12">
            </p>
            <p>
              <label for="Address" class="Address">Address</label>
              <textarea name="Address" id="Address" cols="30" rows="10" required maxlength="50" minlength="5"></textarea>
              
            </p>
            <p>
              <label for="Email" class="Email">Email</label>
              <input type="email" name="Email" id="Email" required maxlength="30" minlength="7">
            </p>
            <p>
              <label for="Image" class="Image">Learner Id Photo</label>
              <input type="file" name="Image" id="Image" required maxlength="15" minlength="1">
            </p>
            <p>
              <label for="Birth_Certificate" class="Birth_Certificate">Birth Certificate</label>
              <input type="file" name="Birth_Certificate" id="Birth_Certificate" required maxlength="15" minlength="1">
            </p>
            <p>
              <label for="Id_Number" class="Id_Number">Id Number</label>
              <input type="text" name="Id_Number" id="Id_Number" required maxlength="13" minlength="13">
            </p>
            <p>
              <input type="submit" value="Submit">
            </p>
          </fieldset>
        </form>
      </div>

      <div class="requirement__box">
        <h2 class="requirement__heading">Application requirement</h2>
        <p class="requirement__para">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>

        <h3 class="requirement__heading__small">What you need</h3>
        <ul class="requirement__list">
          <li class="requirement__list__item">Report of last year</li>
          <li class="requirement__list__item">Learner_Id_Photo</li>
          <li class="requirement__list__item">Birth certificate</li>
          <li class="requirement__list__item">Id number</li>
        </ul>
      </div>
    </div>
{% endblock %}