<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/css.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>ContactDetails</title>
  </head>
  <body>

    <div class="header clearfix">
      <!--Logo-->
      <div class="logo">
        logo
      </div>

      <!--Nav-->
      <nav class="nav">
        <ul class="baby-nav">
            <li class="home"><a href="/index">Home</a></li>
            <li class="apply"><a href="/apply">Apply</a></li>
            <li class="contact"><a href="/contact">Contact</a></li>
            <li class="login"><a href="/login">Login</a></li>
            <li class="register"><a href="/register">Register</a></li>
        </ul>
       </nav>
    </div>

    <div class="sidebar">
      <a href="/ContactDetails">Contact Details</a>
      <a href="/ApplicationDetails">Application Details</a>
    </div>

<!--Banner-->
<div class="banner">
  <div class="headline__container">
    <h1 class="banner__heading">Admin Table</h1>
    <p class="banner__para">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
      autem dignissimos.
    </p>
  </div>
</div>



  <div class="container">
    <table>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
      </tr>

      {% for row in contact_table %}
      <tr>
          <td>{{row.0}}</td>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
          <td>{{row.3}}</td>
          <td>{{row.4}}</td>
      </tr>
      {% endfor %}
  </table>
  </div>

    <!--Footer-->
    <footer class="footer clearfix">
      <ul class="social__media">
        <li class="social__media-item"><i class="flaticon-facebook"></i></li>
        <li class="social__media-item"><i class="flaticon-twitter"></i></li>
        <li class="social__media-item"><i class="flaticon-linkedin"></i></li>
        <li class="social__media-item"><i class="flaticon-instagram"></i></li>
      </ul>
      <p class="footer__para">&copy;craigkapan.com</p>
    </footer>
  </body>
  <script src="script.js"></script>
</html>