<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/lib/flaticon/flaticon.css">
    <link rel="stylesheet" href="css/lib/normalize.css" />
    <link rel="stylesheet" href="css/css.css" /> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/css.css')}}" rel="stylesheet">
    <title>schoolapp</title>
  </head>
  <body>
    <div class="header clearfix">
      <!--Logo-->
      <div class="logo">
        logo
      </div>
      <!--nav-->
      <nav class="nav">
        <ul class="baby-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="application.html">Apply</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!--Banner-->
    <div class="banner">
      <div class="headline__container">
        <h1 class="banner__heading">Schoolapp</h1>
        <p class="banner__para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
          autem dignissimos.
        </p>
        <a href="#" class="banner__link">Read More</a>
      </div>
    </div>
    <!--Middle section-->
    <div class="middle__section">
      <h1 class="middle__section__heading">BECOME ENLIGHTENED</h1>
      <p class="middle__section__para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <!--Boxes-->
    <div class="container clearfix">
      <!--Box-1-->
      <div class="box box-1">
        <h2 class="heading-blue">Dreamer</h2>
        <p>
          Driving Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
          commodi ipsam iure quod porro natus veritatis facilis saepe,
          repudiandae est dolorem officia exercitationem sapiente, reprehenderit
          nobis? Excepturi quaerat magnam ipsa.
        </p>
      </div>
      <!--Box-2-->
      <div class="box box-2">
        <h1>LIGHT HERE,LIGHT NOW</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          quibusdam quas quo minus in autem eveniet ea sit id aperiam, error
          aliquid quaerat nemo odit atque nesciunt maiores soluta cupiditate?
        </p>
      </div>
      <!--Box-3-->
      <div class="box box-3">
        <h2 class="heading-red">Wake up call</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
          ipsam corrupti similique? Laborum maxime quae tempora laboriosam
          laudantium cumque adipisci magnam rerum. Repudiandae eveniet harum
          nostrum saepe tenetur, asperiores similique.
        </p>
      </div>
    </div>
    <!--Footer-->
    <footer class="footer clearfix">
      <ul class="social__media">
        <li class="social__media-item"><i class="flaticon-facebook"></i></li>
        <li class="social__media-item"><i class="flaticon-twitter"></i></li>
        <li class="social__media-item"><i class="flaticon-linkedin"></i></li>
        <li class="social__media-item"><i class="flaticon-instagram"></i></li>
      </ul>
      <p class="footer__para">&copy;craigkapan.com</p>
    </footer>
    
  </body>
</html>
