@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.header {
  background-color: blue;
  height: auto;
  width: 100%;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ==================================
Clearfix
======================================= */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==================================
Logo
======================================= */

.logo {
  background-color: rgb(5, 199, 5);
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 80px;
  float: left;
  display: block;
  color: white;
  text-align: center;
}

/* ==================================
Nav
======================================= */

.nav {
  padding-top: 10px;
  margin: 0;
  float: right;
  margin-right: 80px;
}

.baby-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ==================================
li a
======================================= */

.nav li a {
  text-decoration: none;
  padding: 16px 1px;
  width: 70px;
  background-color: rgb(12, 12, 158);
  display: block;
  color: white;
  text-align: center;
}

.nav li a:hover {
  opacity: 0.8;
}

.nav li {
  float: left;
}

/* ==================================
Appform / Adminform
======================================= */

.form__box {
  width: 45%;
  float: left;
}

.appform, .adminform, .loginform {
  width: 400px;
  padding: 40px;
  background-color: lightblue;
  margin-bottom: 10px;
}

/* Input types */

.appform textarea,
.appform input[type="text"],
.appform input[type="tel"],
.appform input[type="file"],
.appform input[type="email"],
.appform select,
.adminform input[type="email"],
.adminform input[type="password"],
.registerform input[type="text"],
.registerform input[type="password"]
.registerform input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid darkblue;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  margin: 6px;
}


/* Fieldset and Legend */

 .appform fieldset, .adminform fieldset, .loginform fieldset {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 20px;
}

legend {
  font-size: 18px;
}

/* ==================================
Application requirement
======================================= */

.requirement__box {
  float: right;
  width: 45%;
  text-align: left;
}

.requirement__heading {
    margin: 10px;
}

.requirement__para {
    margin: 20px 15px 30px 15px;
}

.requirement__heading__small {
    margin: 10px;
}

.requirement__list {
    margin: 10px;
}

.requirement__list__item {
    margin: 5px;
    width: 100%;
}

/* ==================================
Banner
======================================= */

.banner {
  height: 300px;
  background-color: rgb(82, 187, 223);
  padding: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom:24px;
}

.headline__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

.banner__heading {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.banner__para {
  font-size: 18px;
  margin-bottom: 40px;
}

.banner__link {
  text-decoration: none;
  padding: 14px 16px;
  width: 50px;
  background-color: rgb(12, 12, 158);
  color: white;
  text-align: center;
}

.banner__link:hover {
  opacity: 0.8;
}




/* ==================================
Table
======================================= */


table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
  background: #fafafa;
  text-align: center;
}

th, td{
  padding: 12px 15px;
}

th {
  background: #64b5f6;
  color: #fafafa;
  text-transform: capitalize;
  font-family: sans-serif;
}

td {
  font-family: sans-serif;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

.table__holder {
  width: 65%;
  background-color: pink;
}

.aside {
  width: 30%;
  background-color: black;
} 

/* ==================================
Middle Section
======================================= */

.middle__section {
  background-color: lightskyblue;
  text-align: center;
  padding: 80px;
}

.middle__section__heading {
  margin: 0;
}

.middle__section__heading,
.middle__section__para {
  margin: 0 10px 15px 10px;
}

/* ==================================
Container
======================================= */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.content_center {
  text-align: center;
}

/* ==================================
Box
======================================= */

.box {
  width: 32%;
  padding: 24px;
  margin: 5px;
  float: left;
}

.box-1 p::first-letter {
  font-size: 50px;
}

.box-2 {
  background-color: rgb(173, 173, 173);
  position: relative;
}

/* ==================================
Heading
======================================= */

.heading-red {
  color: red;
}

.heading-blue {
  color: blue;
}

.heading-red,
.heading-blue {
  text-transform: uppercase;
  font-size: 30px;
}

/* ==================================
Footer
======================================= */

.footer {
  padding: 10px 20px;
  background-color: grey;
  width: 100%;
  box-sizing: border-box;
  color: #eee;
}

.footer__para {
  float: left;
}

.social__media {
  display: block;
  float: right;
  list-style-type: none;
}

.social__media-item {
  margin: 0 5px;
  display: inline;
}
.social__media-item .flaticon-facebook:before,
.social__media-item .flaticon-twitter:before,
.social__media-item .flaticon-linkedin:before,
.social__media-item .flaticon-instagram:before {
 font-size: 30px;
}

/* ==================================
Contact details
======================================= */

.contact__box {
  margin: 15px;
}

.contact__details__box {
  width: 50%;
  float: left;
}

.contact__details__heading {
  margin: 10px;
}

.contact__details__list {
  margin: 10px;
}

.contact__details__list__item {
  margin: 10px;
  margin-left: 0;
  width: 100%;
  list-style-type: none;
}

/* ==================================
Contact form
======================================= */

.contact__form {
  margin: 15px;
  float: right;
}

.contact__form__heading {
  margin: 10px;
}

.contactform {
  margin: 10px;
  width: 400px;
  background-color: lightblue;
}

.contact__form__outline {
  margin: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 20px;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.contactform input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  margin: 6px;
}